* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
}

#board {
  margin: 0 auto;
  display: grid;
  border: 1px solid black;
  width: moz-fit-content;
  width: fit-content;
}

.cell {
  background-color: green;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.border {
  background-color: #f00;
}



.apple {
  background-image: url(img/apple.png);
  background-size: contain;
  background-position: center;
}

button {
  display: block;
  margin: 15px auto;
  padding: 5px 15px;
  font-size: 2em;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  box-shadow: 0px 0px 4px 2px #666;
}

.lose {
  text-align: center;
}

.snake {
  /* background-image: url(img/body.png); */
  background-size: contain;
  background-position: center;
}

